<div id="content-wrapper" class="d-flex flex-column">
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Fuel Orders</h1>
    </div>

    <div class="card shadow mb-4">
      <div class="card-header py-3"></div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr></tr>
              <tr>
                <th>Station Number</th>
                <th>Fuel Type</th>
                <th>Quantity</th>
                <th>Order Date</th>
                <th>Scheduled Date</th>
                <th>Dispatched Date</th>
                <th>Received Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders">
                <td>{{ order.stationNumber }}</td>
                <td>{{ order.fuelType }}</td>
                <td>{{ order.quantity }}L</td>
                <td>{{ order.orderDate | date: "YYYY-MM-dd h:mm a" }}</td>

                <td
                  *ngIf="
                    order.orderStatus?.allocationStatus === 'Failed';
                    else elseTpl
                  "
                  colspan="3"
                  class="allocation-failed"
                >
                  Allocation Failed
                  <ng-container *ngTemplateOutlet="elseTpl"></ng-container>
                </td>
                <ng-template #elseTpl>
                  <td>
                    {{ order.orderStatus?.scheduledDate }}
                  </td>
                  <td>{{ order.orderStatus?.dispatchedDate }}</td>
                  <td>
                    {{
                      order.orderStatus?.receivedDate
                        | date: "YYYY-MM-dd h:mm a"
                    }}
                  </td>
                </ng-template>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
