.Pending {
  color: white;
  background-color: #b2bec3;
  display: block;
}
.Success {
  color: white;
  background-color: #55efc4;
  display: block;
}
.Failed {
  color: white;
  background-color: #ff7675;
  display: block;
}
