<nav
  class="navbar navbar-expand-lg navbar-light bg-white shadow topbar mb-4 static-top"
>
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>

    <div class="d-flex align-items-center">
      <!-- <div class="dropdown">
        <a
          class="text-reset me-3 dropdown-toggle hidden-arrow"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <i> <fa-icon [icon]="faBell"></fa-icon></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a> -->
      <!-- <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" href="#">Some news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Another news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
        </ul> -->
      <!-- </div> -->

      <div class="parent">
        <p>logged in as: {{ userType }}</p>
      </div>
    </div>
  </div>
</nav>
