<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-6 d-none d-md-flex bg-image"></div>

    <div class="col-md-6 bg-light">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">
              <h2 class="display-4">Fuel Distribution System</h2>
              <br />
              <h4>Login as :</h4>

              <div class="d-grid gap-2 d-md-flex">
                <button
                  type="button"
                  class="btn btn-gas-station btn-login"
                  (click)="onClick('gas-station')"
                >
                  Gas Station
                </button>

                <button
                  type="button"
                  class="btn btn-user btn-login"
                  (click)="onClick('user')"
                >
                  User
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
